%div{'ng-app' => 'app.exampleApp', 'ng-controller' => 'ExampleCtrl'}
  .code-window
    .line{:'ng-repeat' => 'line in lines'}
      %pre{:'class' => '{{line.type}}', :'ng-dblclick'=>'addComment()'} {{line.text}}
      %input{:'ng-if' => 'line.inputOpened'}