#main(ng-controller = 'ReviewIndexCtrl')
  %a.btn.btn-default(href='#/reviews/new') Create review
  %h3 Code reviews
  %ul
    %li(ng-repeat='review in reviews')
      %a(href="#/reviews/{{review.id}}") {{review.name}}