#main(ng-controller = 'ReviewNewCtrl')
  %form.form-inline(ng-submit="search(params)")
    .form-group
      %label(for="urlInput") Author
      %input.form-control#urlInput(placeholder="svn://coolrepo.com" ng-model="params.url")
    .form-group
      %label(for="authorInput") Author
      %input.form-control#authorInput(placeholder="jkowalski" ng-model="params.author")
    .form-group
      %label(for="titleInput") Commit title
      %input.form-control#titleInput(placeholder="[TS-123]" ng-model="params.title")
    %button.btn.btn-default(type="submit" ng-model="button" ng-disabled="!params.url || !commits.$resolved")  Search for commits

  %table.table.table-striped
    %tr
      %th
      %th Revision
      %th Author
      %th Title
    %tr(ng-repeat="commit in commits" ng-click="changeSelect(commit)")
      %td
        %input(type="checkbox" ng-model="commit.selected")
      %td {{commit.revision}}
      %td {{commit.author}}
      %td {{commit.title}}
  %form.form-inline(ng-submit="createReview(name)")
    .form-group
      %label(for="nameInput") Name
      %input.form-control#nameInput(placeholder="Bulbulators" ng-model="name")
    %button.btn.btn-default(type="submit"
                            ng-model="button"
                            ng-disabled="nothingSelected() || !commits.$resolved || !name"
                          )  Review changes