// Place all the styles related to the File controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Good job CSS!
#main
  text-align: center

.wrapper
  display: inline-block

.code-window
  background: #ebebeb
  width: 100%
  margin: auto
  text-align: left
  border-collapse: collapse

.code-window td
  padding: 0px
  vertical-align: top

.code-window pre
  margin: 0px

.code-window .added
  background: #C1F3D4

.code-window .removed
  background: #FFC5B9

.comment
  border: 1px dashed
  background: lightyellow

.pre-no-bootstrap
  display: inline
  padding: 0
  margin: 0
  font-size: 12px
  background: none
  line-height: 12px
  word-break: break-all
  word-wrap: break-word
  color: black
  border: 0px
  border-radius: 0px
