// Place all the styles related to the File controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.code-window
  background: grey
  width: 700px
  margin: auto

.code-window pre
  margin: 0px

.added
  background: green

.removed
  background: red

.comment
  border: 1px dashed
  background: lightyellow